<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bold_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,691},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,30}}</string>
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>

			<key>bolt_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,722},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,30}}</string>
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>

			<key>bolt_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,753},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,30}}</string>
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>

			<key>fire13.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,589},{14,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,34}}</string>
				<key>sourceSize</key>
				<string>{14,34}</string>
			</dict>

			<key>laser1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,839},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>laser2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,784},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>laser3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,624},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>meteor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,283},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>meteor10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteor11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteor12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,465},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteor13.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,153},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteor14.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,521},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteor15.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,387},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteor16.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,360},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,930},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteor5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,153},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,521},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,416},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,333},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>pill_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,691},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>pill_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,327},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>pill_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,691},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>pill_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,871},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>playerShip1_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,419},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>playerShip1_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,249},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>playerShip1_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,368},{67,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,50}}</string>
				<key>sourceSize</key>
				<string>{67,50}</string>
			</dict>

			<key>playerShip2_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,562},{76,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>

			<key>playerShip2_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,664},{76,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>

			<key>playerShip2_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,613},{76,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>

			<key>playerShip3_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,102},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>playerShip3_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,51},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>playerShip3_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>powerupBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,589},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupBlue_bolt.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupBlue_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,589},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupBlue_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,623},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,555},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupGreen_bolt.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,102},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupGreen_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,68},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupGreen_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,34},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,657},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupRed_bolt.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,920},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupRed_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,954},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupRed_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,988},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,521},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupYellow_bolt.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,657},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupYellow_shield.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,521},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>powerupYellow_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,623},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>

			<key>shield_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,93},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>shield_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,62},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>shield_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,470},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>ship1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,300},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>ship10.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,470},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,50}}</string>
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>

			<key>ship10_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,197},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship11.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,351},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,50}}</string>
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>

			<key>ship11_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,947},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship12.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,715},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,50}}</string>
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>

			<key>ship12_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,920},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,838},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,562},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship1_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,817},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship2.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,470},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>ship2_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,273},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship3.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,419},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>ship3_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,844},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship4.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,198},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,50}}</string>
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>

			<key>ship4_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,893},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship5.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,868},{75,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,50}}</string>
				<key>sourceSize</key>
				<string>{75,50}</string>
			</dict>

			<key>ship5_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,273},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship6.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,766},{75,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,50}}</string>
				<key>sourceSize</key>
				<string>{75,50}</string>
			</dict>

			<key>ship6_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,300},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship7.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,715},{75,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,50}}</string>
				<key>sourceSize</key>
				<string>{75,50}</string>
			</dict>

			<key>ship7_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,562},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship8.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,817},{75,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,50}}</string>
				<key>sourceSize</key>
				<string>{75,50}</string>
			</dict>

			<key>ship8_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,893},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship9.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,766},{65,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,50}}</string>
				<key>sourceSize</key>
				<string>{65,50}</string>
			</dict>

			<key>ship9_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,169},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,0},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,30}}</string>
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>

			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,974},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,30}}</string>
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>

			<key>star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,31},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,30}}</string>
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>

			<key>star_big1.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,197},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star_big2.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,235},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star_big3.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,855},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star_big4.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,817},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>things_bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,300},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>things_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,136},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>things_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,224},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>spriteSheet.png</string>
			</dict>
		</dict>
</plist>