<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire13.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,110},{14,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,34}}</string>
				<key>sourceSize</key>
				<string>{14,34}</string>
			</dict>

			<key>laser1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,83},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>laser2.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,961},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>laser3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,961},{9,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,54}}</string>
				<key>sourceSize</key>
				<string>{9,54}</string>
			</dict>

			<key>meteor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,818},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>meteor10.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,716},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>meteor11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{101,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,84}}</string>
				<key>sourceSize</key>
				<string>{101,84}</string>
			</dict>

			<key>meteor12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteor13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteor14.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,448},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteor15.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,980},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteor16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteor17.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,110},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteor18.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,83},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteor19.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,865},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>meteor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,98}}</string>
				<key>sourceSize</key>
				<string>{120,98}</string>
			</dict>

			<key>meteor20.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,716},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>

			<key>meteor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,689},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>meteor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,351},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,96}}</string>
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>

			<key>meteor5.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,980},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>meteor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,980},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>

			<key>meteor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,836},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>meteor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,988},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>

			<key>meteor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,621},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>playerShip1_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,198},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,76}}</string>
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>

			<key>playerShip1_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,903},{99,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,76}}</string>
				<key>sourceSize</key>
				<string>{99,76}</string>
			</dict>

			<key>playerShip1_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{100,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,76}}</string>
				<key>sourceSize</key>
				<string>{100,76}</string>
			</dict>

			<key>playerShip2_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{111,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,76}}</string>
				<key>sourceSize</key>
				<string>{111,76}</string>
			</dict>

			<key>playerShip2_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,503},{112,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,76}}</string>
				<key>sourceSize</key>
				<string>{112,76}</string>
			</dict>

			<key>playerShip2_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{112,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,76}}</string>
				<key>sourceSize</key>
				<string>{112,76}</string>
			</dict>

			<key>playerShip3_damage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,732},{97,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,76}}</string>
				<key>sourceSize</key>
				<string>{97,76}</string>
			</dict>

			<key>playerShip3_damage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,351},{97,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,76}}</string>
				<key>sourceSize</key>
				<string>{97,76}</string>
			</dict>

			<key>playerShip3_damage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,428},{97,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,76}}</string>
				<key>sourceSize</key>
				<string>{97,76}</string>
			</dict>

			<key>ship1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,275},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>ship10.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{98,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,75}}</string>
				<key>sourceSize</key>
				<string>{98,75}</string>
			</dict>

			<key>ship10_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,689},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship11.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,545},{98,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,75}}</string>
				<key>sourceSize</key>
				<string>{98,75}</string>
			</dict>

			<key>ship11_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,809},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship12.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,76},{98,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,75}}</string>
				<key>sourceSize</key>
				<string>{98,75}</string>
			</dict>

			<key>ship12_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,847},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>ship13.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,152},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship14.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,505},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship15.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,597},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship16.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,244},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>

			<key>ship1_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,83},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship2.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,656},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>ship2_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,988},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship3.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,733},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>ship3_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,961},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship4.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,809},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,75}}</string>
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>

			<key>ship4_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,110},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,26}}</string>
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>

			<key>ship5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,75}}</string>
				<key>sourceSize</key>
				<string>{112,75}</string>
			</dict>

			<key>ship5_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,689},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,75}}</string>
				<key>sourceSize</key>
				<string>{112,75}</string>
			</dict>

			<key>ship6_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,621},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,75}}</string>
				<key>sourceSize</key>
				<string>{112,75}</string>
			</dict>

			<key>ship7_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,621},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,75}}</string>
				<key>sourceSize</key>
				<string>{112,75}</string>
			</dict>

			<key>ship8_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,847},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,26}}</string>
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>

			<key>ship9.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,885},{98,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,75}}</string>
				<key>sourceSize</key>
				<string>{98,75}</string>
			</dict>

			<key>ship9_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,961},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,809},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,152},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>star4.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,152},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,19},{38,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>spriteSheet.png</string>
			</dict>
		</dict>
</plist>